---
import Carros from '../components/Carros.astro';
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Lista de Carros</title>
</head>
<body>
  <h1>Carros Disponíveis</h1>
  <Carros />
</body>
</html>
